
@media (max-width: 390px) {
    .carousel-indicators {
        bottom: -28px !important;
    }
}

@media (max-width:991px) {


    body{
        height: 190vh;
    }
    
}

@media (max-width:768px) {
    .home-body{
        height: 100vh;
    }
    .wlcm-page{
        padding: 1rem !important;
    }
    
    .wlcm-page h1{
        font-weight: 600 !important;
    }
    .wlcm-page h1 span{
        font-weight: 600 !important;
    }

    .wlcm-page p{
        font-size: 13px !important;
        font-weight: 500 !important;
    }


}

@media (max-width:425px){
    .home-body{
        height: 120vh;
    }
    .w-90{
        width: 90% !important;
    }
}


@media (min-width:768px) {
    .home-body{
        height: 150vh;
    }

    body{
        height: 190vh;
    }
    
}